div.notecard {
    margin: auto;
    width: 75%;
    text-align: center;
    border: 1px solid black;
}

input {
    width: 30%;
    margin: 8px;
}

input[type=password]:focus {
    
}

input[type=submit] {
    margin-bottom: 10%;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

input[type=submit]:hover {
    background-color: #fd2f24;
}
