/*body
{
align=center;
  margin: 90px;
  border: 2px solid black;
}*/
/*#lo
{
    background-color: #e8d49b;
    height: 720px;
    padding-top: 10px;
}*/

/*#oq
{
  
    height: 1000px;
    padding-top: 10px;
}*/
/*#o1
{
    height: 20px;
    padding-top: 100px;
}*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: White;
    margin-top: 10px;
	margin-bottom: 10px;
	    padding: 40px;
  border: 2px solid black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


