{% load staticfiles %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'solarpv/ift598_pd1_login.css' %}" type="text/css" charset="utf-8">
</head>
    <body>
        <div class="notecard">
            <h1>Search Stuff!</h1>
            <form action='/api/Certificate/' method="GET">
		{{ form }}
		<button type="submit">Search!</button>
            </form>
        </div>
    </body>
</html>
{% endblock %}
