<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>SolarPV</title>
        <link rel="stylesheet" href="{% static 'solarpv/ift598_pd1.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'solarpv/ift598_pd1_SocialMedia.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="banner">
            <header class="main-header" role="banner">
                <img src="{% static 'solarpv/assets/logo.svg' %}" alt="Banner Image" height="100px"/>
            </header>

            <div class="ConButts">
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
            </div>

            <div class="SMButts">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-pinterest"></a>
            </div>
        </div>
        <br />
        <div class="navbar">
            <a href="login">Login</a>
            <a href="joinus">Join US</a> 

            <div class="dropdown">
                <button class="dropdown-button">Racks & Tracks</button>
                <div class="dropdown-content">
                    <a href="#">Monitoring & Inspection</a>
                    <a href="#">Performance Analysis</a>
                    <a href="#">Compare system</a>
                    <a href="#">Certification</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">PV Modules & Systems</button>
                <div class="dropdown-content">
                    <a href="certsearch">Testing & Certification</a>
                    <a href="#">PV Rating</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Data Analytics</button>
                <div class="dropdown-content">
                    <a href="#">Module lifetime prediction</a>
                    <a href="#">Energy Prediction</a>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-button">Cybersecurity</button>
                <div class="dropdown-content">
                    <a href="#">Smart Grid Technologies</a>
                    <a href="#">Solar PV University</a>
                </div>
            </div>
        </div>  

        <!--MAIN BODY-->
        <div class="mainbody">
  	        <div class="centerstuff" id="featured">
                <i><u>Featured Content</u></i>
            </div>
  	        <div class="centerstuff" id="news">
                <i><u>News & Events</u></i>
                <!--Already late, can't be bothered to do this right-->
                <br />
                <br />
                <a href="#">"Solar Power is Bad!" Says Study By Peabody Energy</a>
                <br />
                <br />
                <a href="#">Trump Buys ASU, Plans to Double Enrollment by 2025</a>
                <br />
                <br />
                <a href="#">Brandon Gatto Wins Award For Best IFT student</a>
                <br />
                <br />
                <a href="#">You WON'T Believe What This Doctor Says About Photovoltaics</a>
                <br />
                <br />
            </div>
        </div>
        <div class="footer">
            SolarPV @ 2019 All Rights Reserved
            <br />
            Address, Phone, Email, Website
            <br />
            <div id="links">
                <a href="#">Site Map</a> |
                <a href="#">Terms & Conditions</a> |
                <a href="#">Privacy Policy</a> |
                <a href="#">About Us</a>
            </div>
        </div>
    </body>
</html>
