{% load staticfiles %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'solarpv/ift598_pd1_login.css' %}" type="text/css">
    </head>
    <body>
        <div class="notecard">
            <h1>Register with us!</h1>
            <form action="/" method="post">
                {% csrf_token %}
		{{ form.as_p }}
                <button type="submit">Register"</button>
            </form>
        </div>
    </body>
</html>
{% endblock %}
