{% load staticfiles %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'solarpv/ift598_pd1_login.css' %}" type="text/css" charset="utf-8">
</head>
    <body>
        <div class="notecard">
            <h1>Welcome back!</h1>
            <form action="/" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
{% endblock %}
